@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans.ttf");
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 1.1rem;
  font-family: Opensans, sans-serif;
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.small-font {
  font-size: 0.8rem;
}
.doctor-card:hover {
  background-color: lightblue;
}
.show-read-more .more-text{
  display: none;
}
.img-back{
  /*background-image:url('../images/back-1.jpg');*/
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}
.brand-logo{
  width: 64px;
  height: 64px;
}

select.error, textarea.error, input.error, .error {
  color: red;
}